# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Build
dist/
build/
.next/

# Prisma
/prisma/
!/prisma/schema.prisma

# Git
.git/
index.lock
